AdminConsole/AdminConsole/Web References/AdminDb/AdminDb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetToApprove">
        <s:complexType />
      </s:element>
      <s:element name="GetToApproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetToApproveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlockEntries">
        <s:complexType />
      </s:element>
      <s:element name="GetBlockEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlockEntriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Approve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApproveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCertificateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessRequest">
        <s:complexType />
      </s:element>
      <s:element name="ProcessRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recoveryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="recoveryDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetToApproveSoapIn">
    <wsdl:part name="parameters" element="tns:GetToApprove" />
  </wsdl:message>
  <wsdl:message name="GetToApproveSoapOut">
    <wsdl:part name="parameters" element="tns:GetToApproveResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlockEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlockEntries" />
  </wsdl:message>
  <wsdl:message name="GetBlockEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlockEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveSoapIn">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="ApproveSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCertificate" />
  </wsdl:message>
  <wsdl:message name="UpdateCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="recoveryDataSoapIn">
    <wsdl:part name="parameters" element="tns:recoveryData" />
  </wsdl:message>
  <wsdl:message name="recoveryDataSoapOut">
    <wsdl:part name="parameters" element="tns:recoveryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminDbSoap">
    <wsdl:operation name="GetToApprove">
      <wsdl:input message="tns:GetToApproveSoapIn" />
      <wsdl:output message="tns:GetToApproveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockEntries">
      <wsdl:input message="tns:GetBlockEntriesSoapIn" />
      <wsdl:output message="tns:GetBlockEntriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input message="tns:ApproveSoapIn" />
      <wsdl:output message="tns:ApproveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCertificate">
      <wsdl:input message="tns:UpdateCertificateSoapIn" />
      <wsdl:output message="tns:UpdateCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <wsdl:input message="tns:ProcessRequestSoapIn" />
      <wsdl:output message="tns:ProcessRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="recoveryData">
      <wsdl:input message="tns:recoveryDataSoapIn" />
      <wsdl:output message="tns:recoveryDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminDbSoap" type="tns:AdminDbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToApprove">
      <soap:operation soapAction="http://tempuri.org/GetToApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockEntries">
      <soap:operation soapAction="http://tempuri.org/GetBlockEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://tempuri.org/Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCertificate">
      <soap:operation soapAction="http://tempuri.org/UpdateCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://tempuri.org/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recoveryData">
      <soap:operation soapAction="http://tempuri.org/recoveryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminDbSoap12" type="tns:AdminDbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToApprove">
      <soap12:operation soapAction="http://tempuri.org/GetToApprove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockEntries">
      <soap12:operation soapAction="http://tempuri.org/GetBlockEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap12:operation soapAction="http://tempuri.org/Approve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCertificate">
      <soap12:operation soapAction="http://tempuri.org/UpdateCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://tempuri.org/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recoveryData">
      <soap12:operation soapAction="http://tempuri.org/recoveryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminDb">
    <wsdl:port name="AdminDbSoap" binding="tns:AdminDbSoap">
      <soap:address location="http://svachallan.com/SecurityFramework/AdminDb.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminDbSoap12" binding="tns:AdminDbSoap12">
      <soap12:address location="http://svachallan.com/SecurityFramework/AdminDb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>